.app-nav {
  background-color: #292929;
  height: 50px;
  margin: 0;
  border-bottom: 1px solid #131212;
}

.nav-content {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

.side-nav {
  width: 300px;
}

.todo-display {
  width: 600px;
  background-color: #1f1f1f;
  height: 100vh;
}

.logo {
  padding: 3px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 400px;
  margin-left: 50px;
}

.search-input {
  width: 200px;
  background-color: transparent;
  border: none;
  height: 25px;
  border-radius: 3px;
  padding-left: 25px;
  color: #fff;
  outline: none;
}

.search-input:hover {
  background-color: rgb(134, 133, 133);
  transition: background-color 0.7s ease;
}

.search-input:focus {
  width: 330px;
  transition: width 1.1s ease;
  background-color: transparent;
  border: 1px solid #cccc;
}

.nav-actions {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-svg {
  cursor: pointer;
  padding: 8px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.nav-svg:hover {
  background-color: #888;
  transition: background-color 0.7s ease;
}

span.error {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  color: #e05f5f;
}

.todo-display {
  padding: 20px 40px;
}

.search-icon {
  position: relative;
  left: 2rem;

  &:hover {
    background-color: transparent;
  }
}
